<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script>
        ;(function(){
            let html=document.documentElement;
            html.style.fontSize=html.clientWidth*20/375+'px';
            window.onresize=function(){
                html.style.fontSize=html.clientWidth*20/375+'px';
            };
        })()
    </script>
    <script>
        
    </script>
    <style>
        
    </style>
</head>
<body>
</body>
</html>